@charset "UTF-8";
/* Variables */ /* color negro principal */
/* variables para fuentes */
/* Partials */
/* reset de estilos precargados navegador */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* BUTTON */
.btn {
  background: linear-gradient(to right, gray, black);
  transition: all 5s;
  box-shadow: 5px 10px 30px -10px black;
}
.btn:hover {
  background: black;
}

.btn__text {
  color: white;
  font-size: 1.25rem;
}

/* ESTILO GENERAL */
body {
  font-family: monospace, sans-serif;
  /* Layout "macro" elegido Pancake Stack */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(135deg, white, gray);
}

/* ESTILO MAIN */
.main__title {
  margin: 2% auto;
  color: black;
  font-size: 3rem;
}

.article__title {
  margin: 2% auto;
  color: black;
  font-size: 2rem;
}

.article__text {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.25rem;
  color: black;
}

/* CARDs */
.card__title {
  font-size: 1rem;
  text-align: center;
  color: black;
}

.card {
  background-color: white;
}

/* ESTILO HEADER */
header {
  background-color: black;
  /* para que la barra quede fija cuando hacemos scroll */
  position: sticky;
  top: 0px;
  z-index: 2;
  box-shadow: -5px 5px 15px -7px black;
}
header .header__brand {
  max-height: 3rem;
  margin: 5% auto;
}

.navbar-toggler-icon {
  background-image: none;
}
.navbar-toggler-icon:before {
  font-family: FontAwesome;
  content: "\f0c9";
}

/* ESTILO FOOTER */
footer {
  background-color: black;
  color: white;
  margin-top: 2%;
}

.fa-brands,
.fa-download {
  color: white;
  font-size: 1.5rem;
}

.footer-sm__text {
  font-size: 1.25rem;
  /* texto oculto - tengo que definir si mostrar o no */
  display: none;
}

.footer-sm__brand {
  max-height: 2rem;
  margin: 0 1rem 0 0;
  /* imagen oculta - tengo que definir si mostrar o no */
  display: none;
}

.foter-bottom {
  background-color: gray;
  text-align: center;
  font-size: smaller;
}

/* estilo carousel */
.carousel {
  border-radius: 0.5rem;
  padding: 1%;
  box-shadow: 0px 10px 30px -10px black;
}

/* FORMULARIO CONTACTO*/
form input {
  text-align: center;
  font-weight: bold;
}

/* media queries ajuste textos */
@media (max-width: 768px) {
  .article__text {
    font-size: 1rem;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .main__title {
    font-size: 1.75rem;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .article__title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  .btn {
    max-width: 40%;
  }
}
/* animación*/
.article__img img {
  animation: inicio;
}

header,
footer {
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}
.loading {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}

/*# sourceMappingURL=style.css.map */
