/* reset de estilos precargados navegador */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ESTILO GENERAL */
body {
  font-family: monospace, sans-serif;
  /* Layout "macro" elegido Pancake Stack
  PUEDE CAMBIAR MAS ADELANTE, no me gustaba que el footer quede en cualquier lado menos en el pie de pagina */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

/* ORGANIZADORES FLEX clas ROW--xx */
.row--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row--arround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ORGANIZADOR FLEX WRAP - dejo comentado para utilizar mas adelante */
.flex--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .col {
  width: 100%;
} */

/* ESTILO HEADER */
header {
  background-color: #000000;
  /* para que la barra quede fija cuando hacemos scroll */
  position: sticky;
  top: 0px;
  z-index: 2;
}

.header__brand {
  max-height: 4rem;
  margin: 5% auto;
}

.nav__item {
  display: inline;
}

.nav__link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* ESTILO FOOTER */
footer {
  background-color: #000000;
  color: white;
  margin-top: 2%;
}

.fa-brands,
.fa-download {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 1rem;
}

.footer-sm__text {
  font-size: 1.25rem;
  /* texto oculto - tengo que definir si mostrar o no */
  display: none;
}

.footer-sm__brand {
  max-height: 2rem;
  margin: 0 1rem 0 0;
  /* imagen oculta - tengo que definir si mostrar o no */
  display: none;
}

.foter-bottom {
  background-color: gray;
  text-align: center;
  font-size: smaller;
}

/* ESTILO MAIN */
.main__title {
  margin: 2% auto;
  color: #000000;
  font-size: 3rem;
}

.article__title {
  margin: 2% auto;
  color: #000000;
  font-size: 1.5rem;
}

.article__text {
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
}

.article__img {
  max-width: 100%;
  min-width: 100px;
  padding: 5px;
  box-shadow: 0px 10px 30px -10px black;
  background-image: linear-gradient(to right, rgb(64, 64, 172), white);
  transform: rotate(-2deg);
}

.article__img img {
  animation: inicio;
}

.article__video {
  width: auto;
}

/* BUTTON */
.btn {
  background: linear-gradient(to right, rgb(64, 64, 172), black);
  margin: 1rem auto;
  width: 30vh;
  border-radius: 2rem;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 5s;
  box-shadow: 5px 10px 30px -10px black;
}

.btn:hover {
  background: rgb(0, 0, 0);
}

.btn__text {
  color: white;
  font-size: 1.25rem;
}
/* CARDs */
.card {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px #000000;
  box-shadow: 0px 10px 30px -10px black;
}

.card__tela {
  width: 25%;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  box-shadow: 0px 10px 30px -10px black;
}

.card__img {
  min-width: 200px;
  padding: 5px;
  box-shadow: 0px 10px 30px -10px black;
}

.card__title {
  font-size: 1rem;
  text-align: center;
}

/* FORMULARIO */
.form__imput {
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

/* animacion */
@keyframes inicio {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

/* media queries ajuste textos */
@media (max-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .main__title {
    font-size: 1.75rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .article__title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
