/* animación*/
.article__img img {
  animation: inicio;
}

header,
footer {
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

.loading {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
