/* reset de estilos precargados navegador */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ESTILO GENERAL */
body {
  font-family: monospace, sans-serif;
  /* Layout "macro" elegido Pancake Stack */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(135deg, $color2, $color3);
}

/* ESTILO MAIN */
.main__title {
  margin: 2% auto;
  color: $color1;
  font-size: 3rem;
}

.article__title {
  margin: 2% auto;
  color: $color1;
  font-size: 1.5rem;
}

.article__text {
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
  color: $color1;
}

/* BUTTON */
.btn {
  background: linear-gradient(to right, $color3, $color1);
  transition: all 5s;
  box-shadow: 5px 10px 30px -10px $shadow-color;

  &:hover {
    background: $color1;
  }
}

.btn__text {
  color: $color2;
  font-size: 1.25rem;
}

/* CARDs */
.card__title {
  font-size: 1rem;
  text-align: center;
  color: $color1;
}

.card {
  background-color: $color2;
}
