/* ESTILO GENERAL */
body {
  font-family: monospace, sans-serif;
  /* Layout "macro" elegido Pancake Stack */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(135deg, $color2, $color3);
}

/* ESTILO MAIN */
.main__title {
  margin: 2% auto;
  color: $color1;
  font-size: $title-font;
}

.article__title {
  margin: 2% auto;
  color: $color1;
  font-size: $title-article-font;
}

.article__text {
  text-align: justify;
  line-height: 1.5;
  font-size: $text-article-font;
  color: $color1;
}

/* CARDs */
.card__title {
  font-size: $text-card-font;
  text-align: center;
  color: $color1;
}

.card {
  background-color: $color2;
}
